In [1]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("C:/Users/asd11/Downloads/新北市110年公告土地現值.csv")

In [17]:
data.head()

  country district    segment    lid  official_value
0     新北市      新莊區  海山頭段三角子小段  10000           41800
1     新北市      新莊區  海山頭段三角子小段  10001           41800
2     新北市      新莊區  海山頭段三角子小段  10002           41800
3     新北市      新莊區  海山頭段三角子小段  10003           41800
4     新北市      新莊區  海山頭段三角子小段  10004           41800

In [32]:
average_price = data.groupby(by='district').agg({'official_value':np.mean}).sort_values(by='official_value',ascending=False)
average_price.columns = ['Average_price']
average_price[:5]

          Average_price
district
永和區       179765.096081
板橋區       157048.465982
三重區       145436.303589
中和區       131597.028254
蘆洲區       115153.957924

In [34]:
land_sum = data.groupby(by='district').agg({'official_value':len}).sort_values(by='official_value',ascending=False)
land_sum.columns = ['Total_land']
land_sum[10:]

          Total_land
district
土城區            37829
貢寮區            35543
石碇區            34772
林口區            33762
瑞芳區            32182
坪林區            31045
永和區            30953
三芝區            30659
雙溪區            27919
五股區            26350
金山區            25164
泰山區            23852
八里區            23719
萬里區            20634
平溪區            19637
石門區            17906
蘆洲區            17706
深坑區            15508
烏來區            10514

In [35]:
average_price[:5].join(land_sum,how='inner')

          Average_price  Total_land
district
永和區       179765.096081       30953
板橋區       157048.465982       81164
三重區       145436.303589       74983
中和區       131597.028254       57655
蘆洲區       115153.957924       17706

In [39]:
fliter = (data['district'] == '永和區') | (data['district'] == '板橋區') | (data['district'] == '三重區') | (data['district'] == '中和區') | (data['district'] == '蘆洲區')
new_data = data[fliter]

In [40]:
new_data.to_csv('新北市地價現值.csv')