In [1]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv("C:/Users/asd11/Downloads/新竹市人口資料.csv")

In [27]:
data.columns

Index(['年月', '區域別', '里數', '鄰數', '戶數', '性別', '人口數', '遷入人數', '遷出人數', '出生人數',
       '死亡人數', '結婚對數', '離婚對數', '平地原住民', '山地原住民', '年齡14歲以下人數', '年齡15至64歲人數',
       '年齡65歲以上人數'],
      dtype='object')

In [9]:
# data.dropna(subset=['年齡14歲以下人數'],inplace=True)

In [29]:
data.isnull().sum()

年月              0
區域別             0
里數              0
鄰數              0
戶數              0
性別              0
人口數             0
遷入人數            0
遷出人數            0
出生人數            0
死亡人數            0
結婚對數            0
離婚對數            0
平地原住民           0
山地原住民           0
年齡14歲以下人數     492
年齡15至64歲人數    492
年齡65歲以上人數     492
dtype: int64

In [30]:
data = data[data['性別'] == '男女合計']

In [31]:
data['區域別'].value_counts()

香山     95
新竹市    95
東區     95
北區     95
Name: 區域別, dtype: int64

In [32]:
data.head()

,年月,區域別,里數,鄰數,戶數,性別,人口數,遷入人數,遷出人數,出生人數,死亡人數,結婚對數,離婚對數,平地原住民,山地原住民,年齡14歲以下人數,年齡15至64歲人數,年齡65歲以上人數
0,10401,新竹市,122,2216,155296,男女合計,432259,1666,1607,431,219,294,74,1795,1908,NaN,NaN,NaN
3,10401,東區,53,1033,75186,男女合計,207081,859,713,188,96,143,23,590,805,NaN,NaN,NaN
6,10401,北區,45,808,54359,男女合計,148766,560,609,151,89,98,31,642,663,NaN,NaN,NaN
9,10401,香山,24,375,25751,男女合計,76412,247,285,92,34,53,20,563,440,NaN,NaN,NaN
12,10402,新竹市,122,2216,155394,男女合計,432366,1240,1296,338,175,204,62,1797,1907,NaN,NaN,NaN

In [40]:
data = data.groupby(by=['年月']).agg({'人口數':sum})

In [48]:
data

          人口數
年月
10401  864518
10402  864732
10403  864912
10404  865118
10405  865384
...       ...
11107  901310
11108  901672
11109  901786
11110  902406
11111  903380

[95 rows x 1 columns]

In [49]:
percent = [0]
num = 864518
for i in data['人口數'][1:] :
    per = (i - num) / num
    percent.append(per)
    num = i
percent

[0,
 0.00024753677771891387,
 0.00020815697811576303,
 0.00023817451948868787,
 0.0003074725066407126,
 0.00038826694276760374,
 0.00024488287206025043,
 0.0002887062725479599,
 0.000593408775522927,
 0.0005376741094916788,
 0.00044513020635129306,
 0.0006593295126033372,
 0.000456158134820071,
 4.8358349184125564e-05,
 0.000490468109210899,
 0.0004188799793782164,
 0.0006464614860792226,
 0.000650642020438896,
 0.0005743983751418764,
 0.0007279190241751782,
 0.0009522607588256215,
 0.0006189537389390675,
 0.0008866182501317326,
 0.0010529279408162937,
 0.0009512115370983932,
 0.0006053642122384084,
 0.0006940354049376966,
 0.00046084841737352905,
 0.0007730477693353157,
 0.0009934763240464564,
 0.0003095841329026472,
 0.0007100026169968254,
 0.0007981862298094131,
 0.0007066607891878628,
 0.000699349922458442,
 0.0009416473610049079,
 0.0011493158510377847,
 0.00040304411521627394,
 0.0011271635088735835,
 0.0005765122141460271,
 0.0010574598368619653,
 0.0007064856739151044,
 0.000518776319439902,
 0.0008746993221080254,
 0.0009843029580894162,
 0.0008303218228376755,
 0.0007464448316564555,
 0.0011862316252047261,
 0.0007966160647166403,
 0.0004932846027937846,
 0.0008000717151117187,
 0.0003000669552385196,
 0.000850680880499484,
 0.0006218112601519636,
 0.0002794176489128418,
 0.0006637108812829062,
 0.00038188310803718783,
 0.0005692574204379041,
 0.0005912446704312963,
 0.0007380616850104355,
 0.0006907262206357801,
 0.0003072723345794934,
 0.000387311324849583,
 0.00037381098069755797,
 0.00047376182458356783,
 0.00047798384192296236,
 0.0002044349041489175,
 0.00038879125908383006,
 0.0007306434992715773,
 0.00039057558858187773,
 0.0005323951347957932,
 0.0008402932823097202,
 0.0005383109000203804,
 0.00022583609170716588,
 0.0002457073161013554,
 0.0007989058751670842,
 0.0004886904643443919,
 0.0003735219361255387,
 0.00041536038036405897,
 -5.7419607029043277e-05,
 0.00022306589719974998,
 -8.390706629983085e-05,
 -0.0003952796106385422,
 -5.5228480222681235e-05,
 -0.00011930010604453871,
 -0.0011732576792035105,
 -0.000809635995620002,
 -0.002645625640650979,
 -0.00032630845249881243,
 0.0002597996655911997,
 0.0004240072458620445,
 0.0004016376163584116,
 0.00012643178450700475,
 0.000687524534645692,
 0.0010793367951897482]

In [52]:
data['成長率'] = percent

In [54]:
data.to_csv('新竹市人口.csv')